*{
    font-family: Verdana;
}

main{
    display: flex;
    flex-wrap: wrap;
}

header{
    display: flex;
}

header section{
    background-color: #6F79A8;
    color: white;
    height: 140px;
}

.blokbanera1{
    width: 30%;
}

.blokbanera2{
    width: 70%;
}

.kalendarz{
    background-color: #9FA8DA;
    width: 160px;
    height: 85px;
    margin: 5px;
    border: 1px solid #6F79A8;
}

.kalendarz:hover{
    background-color: #6F79A8;
    color: white;
}

footer{
    background-color: #6F79A8;
    color: white;
    padding: 5px;
    text-align: right;
}

h6{
    text-align: center;
}