html{
    background-color: #E0F7FA;
    font-family: Arial;
    text-align: center;
}

main{
    width: 95%;
    margin: auto;
}

header{
    background-color: #00838F;
    height: 200px;
}

nav{
    background-color: #006064;
    padding: 15px;
}

a{
    color: white;
    text-decoration: none;
    text-transform: none;
    font-size: 150%;
}

section{
    height: 350px;
    width: 33%;
}

footer{
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
}

ol{
    text-align: left;
}

button{
    background-color: #00838F;
    color: white;
}

button:hover{
    background-color: #80DEEA;
}

.pierwszy-blok{
    float: left;
}

.drugi-blok{
    float: left;
}

.trzeci-blok{
    float: right;
}

footer{
    clear: both;
}