*{
    font-family: 'Helvetica';
}

.blok-banera, .blok-stopki{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;

}

.blok-stopki{
    clear: both;
}

.blok-menu{
    background-color: peru;
    width: 80%;
    height: 40px;
    padding-top: 20px;
    float: left;
}

.blok-glowny{
    width: 80%;
    height: 700px;
    font-size: 120%;
    overflow: scroll;
    float: left;
}

.blok-prawy{
    background-color: peru;
    color: white;
    width: 20%;
    height: 760px;
    float: right;
}

a{
    color: #DDD;
    padding-left: 90px;
    font-size: 140%;
    text-transform: none;
}

a:hover{
    color: white;
}

img{
    float: left;
    margin: 30px;
}